@model IdentityProfileApp.Domain.Entities.Models.Profile
@using IdentityProfileApp.Domain.Entities.DTO
@using IdentityProfileApp.Domain.Entities.Models
@using IdentityProfileApp.Utils.Extensions
@using IdentityProfileApp.Web.BLL

@{List<Feature> features = Model.Features.Cast<Feature>().OrderBy(x => x.Order).ToList();
    var statistics = (List<StatisticResult>)TempData["statistics"];
    TempData.Keep("statistics");
    TempData.Keep("profileId");

}
@section dotmenu{
    <div class="container">
        <nav id="dotsMenu">
            <ul id="dotMenu">
                <li><a href="#slider"><span>Profilim</span></a></li>
                <li><a href="#statistics"><span>İstatistik</span></a></li>
                @for (int i = 0; i < features.Count; i++)
                {
                    <li><a href="@string.Format("#section{0}",i.ToString())"><span>@features[i].Characteristic.GetDisplayName()</span></a></li>
                }
                <li><a href="#plans"><span>Üyelik</span></a></li>
            </ul>
        </nav>
    </div>
}


<section id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
    <div class="slide" data-bg-image="/Content/images/uriel.jpg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <h1 data-animate="fadeInUp" data-animate-delay="600">@Model.Title / @Model.Name</h1>
            </div>
        </div>
    </div>
</section>

<div class="row" id="statistics">

    @for (int i = 0; i < statistics.Count; i++)
    {
        var value = statistics[i].Value > 50 ? statistics[i].Value : 100 - statistics[i].Value;
        var display = statistics[i].Value > 50 ? statistics[i].Part.GetDisplayName() : statistics[i].OppositePart.GetDisplayName();
        <div class="col-lg-3 text-center">
            <span class="pie-chart" data-percent="@value" data-pe data-color="@statistics[i].Color.ToKnownColor()" data-width="4">
                <span class="percent"></span>
            </span>

            <h4>@display</h4>

        </div>
    }
</div>

@{
    for (int i = 0; i < features.Count; i++)
    {
        <section id="@string.Format("section{0}",i.ToString())">
            <div class="container">
                <div class="row">
                    <div class="center">
                        <div class="heading-text heading-section text-center" data-animate="fadeInUp">
                            <h2>@features[i].Title</h2>
                            <p class="lead">@Html.Raw(features[i].Body)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}


@{
    if (string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="row" style="background-color:#f8f9fa">
            <div class="col-12">
                <div class="row" style="align-items:center;display:flex;justify-content:center;margin-top:15px;margin-bottom:15px">
                    <a href="#modalLogin" data-lightbox="inline" class="btn btn-modal btn-success btn-creative btn-icon-holder btn-shadow btn-light-hover submit">
                        Kayıt Ol<i class="fa fa-sign-in-alt "></i>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        if (ActiveUserBLL.UserHasProfile(User.Identity.Name))
        {
            <div class="row" style="background-color:#f8f9fa">
                <div class="col-12">
                    <div class="row" style="align-items:center;display:flex;justify-content:center;margin-top:15px;margin-bottom:15px">
                        <a href="@Url.Action("SaveProfile","UserProfile")" onclick="location.href='@Url.Action("SaveProfile", "UserProfile")'" data-lightbox="inline" class="btn btn-modal btn-success btn-creative btn-icon-holder btn-shadow btn-light-hover submit">
                            Profilimi Güncelle<i class="fa fa-sign-in-alt "></i>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" style="background-color:#f8f9fa">
                <div class="col-12">
                    <div class="row" style="align-items:center;display:flex;justify-content:center;margin-top:15px;margin-bottom:15px">
                        <a href="@Url.Action("SaveProfile","UserProfile")" onclick="location.href='@Url.Action("SaveProfile", "UserProfile")'" data-lightbox="inline" class="btn btn-modal btn-success btn-creative btn-icon-holder btn-shadow btn-light-hover submit saveprofile">
                            Profilimi Kaydet<i class="fa fa-sign-in-alt "></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    }

}


<!-- Modal -->
<div id="modalLogin" class="modal no-padding" style="max-width: 780px;">
    <div class="row">
        <div class="col-md-12">
            <div class="p-40 p-t-60 p-xs-20">
                <h3>Sing up or Login</h3>
                @{
                    IdentityProfileApp.Domain.Entities.ViewModels.RegisterVM registerVM = new IdentityProfileApp.Domain.Entities.ViewModels.RegisterVM();
                }
                @Html.Partial("_RegisterPartial", registerVM)
            </div>
        </div>
    </div>
</div>
<!--end: Modal -->


@section scripts{
    <script src="~/Content/plugins/chartjs/chart.min.js"></script>
    <script src="~/Content/plugins/chartjs/utils.js"></script>
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script>
        $().ready(function () {
            var dotMenu = $("#dotMenu"),
                dotMenuHeight = dotMenu.outerHeight() + 15,
                // All list items
                menuItems = dotMenu.find("a"),
                // Anchors corresponding to menu items
                scrollItems = menuItems.map(function () {
                    var item = $($(this).attr("href"));
                    if (item.length) { return item; }
                });

            // Bind to scroll
            $(window).scroll(function () {
                // Get container scroll position
                var fromTop = $(this).scrollTop() + dotMenuHeight;

                // Get id of current scroll item
                var cur = scrollItems.map(function () {
                    if ($(this).offset().top < fromTop)
                        return this;
                });
                // Get the id of the current element
                cur = cur[cur.length - 1];
                var id = cur && cur.length ? cur[0].id : "";
                // Set/remove active class
                menuItems
                    .parent().removeClass("current")
                    .end().filter("[href='#" + id + "']").parent().addClass("current")
                    .filter("[href='#" + id + "']").children("span").fadeIn().delay(2000).fadeOut();

            })

            $("#dotMenu li>a").click(function () {
                $(this).children().fadeIn().delay(2000).fadeOut();
            });


            $("#register").click(function () {

                var formData = $("#registerAndSave").serialize();
                $.ajax(
                    {
                        url: "@Url.Action("Register","Account")",
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        dataType: "json",
                        data: formData,
                        success: function (success) {
                            
                        },
                        error: function (error) {
                            
                        }
                    }
                    )
            });

            if ($("#User_CityId").val() !== null) {
                $("#User_CityId").trigger("change");
            }
                $("#User_CityId").change(function () {
                var id = $('#User_CityId option:selected').val();
                $.ajax(
                    {
                        url: '@Url.Action("GetDistricts", "Account")',
                        type: 'GET',
                        data: { id: id },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var select = $("#User_DistrictId");
                            var htmlOptions = [];
                            if (data.length) {
                                for (var i = -1; i < data.length; i++) {
                                    if (i == -1) {
                                        html = '<option value="' + -1 + '">' + "İlçe Seçiniz..." + '</option>';
                                    }
                                    else {
                                        html = '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                                    }
                                    htmlOptions[htmlOptions.length] = html;
                                }
                                select.empty().append(htmlOptions.join(''));
                            }
                        },
                        error: function () {

                        }
                    }
                    )
                });
        });
    </script>
}