@model IEnumerable<IdentityProfileApp.Domain.Entities.Models.Article>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<div class="panel-body">
    <div class="adv-table">
        <div class="clearfix">
            <div class="btn-group">
                <a href="@Url.Action("Create","Article")" class="btn btn-primary">Yeni Ekle &nbsp; <i class="fa fa-plus"></i></a>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Seçenekler <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Print</a></li>
                    <li><a href="#">Save as PDF</a></li>
                    <li><a href="#">Export to Excel</a></li>
                </ul>
            </div>
        </div>
        <div class="space15"></div>
        <table class="display dataTable no-footer table-bordered" id="article">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Header)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Footer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th>
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var article in Model)
                    {
                        <tr class="row-@article.Id">
                            <td>@Html.Raw(article.Header)</td>
                            <td>@Html.Raw(article.Summary)</td>
                            <td>@Html.Raw(article.Footer)</td>
                            <td>@((article.IsPublished) ? "Evet" : "Hayır")</td>
                            <td>
                                <div class="pull-right">
                                    @{ if (!article.IsPublished)
                                        {
                                            <a href="#" class="btn btn-xs btn-success publish" data-id="@article.Id">Yayımla &nbsp; <i class="fa fa-pull-right"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-xs btn-warning unpublish" data-id="@article.Id">Yayından Kaldır &nbsp; <i class="fa fa-pull-right"></i></a>
                                        }
                                    }
                                    <a href="@Url.Action("Update","Article",new {id=article.Id })" class="btn btn-xs btn-primary">Güncelle &nbsp; <i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-xs btn-danger delete" data-id="@article.Id">Sil &nbsp; <i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="btn-group">
            <a href="@Url.Action("Index","Home")" class="btn btn-primary"><i class="fa fa-home"></i></a>
        </div>
    </div>
</div>

@section styles{

    @Styles.Render("~/Admin/jconfirm/css")

    @Styles.Render("~/Admin/DataTable/css")

}


@section scripts{

    @Scripts.Render("~/Admin/jconfirm/js");

    @Scripts.Render("~/Admin/DataTable/js")
    <!--Silme işlemini ajax yardımıyla tetikliyoruz-->
    <script>
         $().ready(function () {
            $(".delete").click(function () {
                var id = $(this).data('id');
                $.ShowConfirm("Makale Silinecek", "Makale tamamen silinecek. Devam edilsin mi?", "Evet Silebilirsin", function () {
                    //Evet butonuna bastı
                    //silme işlemini ajax ile gerçekleştir
                    $.Delete('@Url.Action("Delete","Article")', id, function (result) {
                        //Silme işlemini yapan action'dan gelen cevabı yakalıyoruz.
                        if (result.Status == "ok") {
                            $.ShowSuccess("İşlem başarılı", result.Message, "Tamam");
                            $(".row-" + id).hide(300, function () {
                                $(".row-" + id).remove();
                            })
                        }
                        else {
                            $.ShowError("Hata oluştu", result.Message, "Tamam");
                        }
                    })
                }, "Vazgeçtim")
            })
             $(".publish,.unpublish").click(function () {
                 var id = $(this).data('id');
                 var title = $(this).hasClass("publish") ? "Makale yayınlanak" : "Makale yayından kaldırılacak";
                 var text = $(this).hasClass("publish") ? "Makale yayınlanacak Devam edilsin mi?" : "Makale yayından kaldırılacak. Devam edilsin mi?";
                 $.ShowConfirm(title, text, "Evet Devam Edebilirsin", function () {
                    //Evet butonuna bastı
                    //yayınlama ajax ile gerçekleştir
                    $.Delete('@Url.Action("PublishSwitch","Article")', id, function (result) {
                        //Yayınlama yapan action'dan gelen cevabı yakalıyoruz.
                        if (result.Status == "ok") {
                            $.ShowSuccess("İşlem başarılı", result.Message, "Tamam");
                            var tr = $(".row-" + id);
                            tr.each(function () {
                                var btn = $(this).find('td').eq(4).find('a');
                                if (btn.hasClass("publish")) {
                                    $(this).find('td').eq(3).text("Evet");
                                    var publish = $(this).find('td').eq(4).find('a.publish');
                                    publish.removeClass("publish").addClass("unpublish");
                                    publish.text("Yayından Kaldır");
                                    publish.removeClass("btn-success").addClass("btn-warning");

                                }
                                else if (btn.hasClass("unpublish")) {
                                    $(this).find('td').eq(3).text("Hayır");
                                    var unpublish = $(this).find('td').eq(4).find('a.unpublish');
                                    unpublish.removeClass("unpublish").addClass("publish");
                                    unpublish.text("Yayımla");
                                    unpublish.removeClass("btn-warning").addClass("btn-success");
                                }
                            });
                        }
                        else {
                            $.ShowError("Hata oluştu", result.Message, "Tamam");
                        }
                    })
                }, "Vazgeçtim")
            })
        })
        $(('#article')).DataTable()
    </script>
}
