@model IdentityProfileApp.Domain.Entities.ViewModels.RegisterVM
@using IdentityProfileApp.Web.StaticClasses
 <form class="form-transparent-grey" id="registerAndSave">
     <div class="row">
         <div class="col-lg-12">
             <h3>Register New Account</h3>
             <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
         </div>
         <div class="col-lg-6 form-group">
             <label class="sr-only">First Name</label>
             <input type="text" name="@Html.NameFor(m=>m.User.Name)" value="" placeholder="First Name" class="form-control" id="@Html.IdFor(m=>m.User.Name)">
         </div>
         <div class="col-lg-6 form-group">
             <label class="sr-only">Last Name</label>
             <input type="text" name="@Html.NameFor(m=>m.User.Surname)" value="" placeholder="Last Name" class="form-control" id="@Html.IdFor(m=>m.User.Surname)">
         </div>

         <br />
         <div class="col-lg-12 form-group">
             <label class="label_radio col-lg-6">
                 @Html.RadioButtonFor(model => model.User.Gender, 1, new { htmlAttributes = new { @class = "form-control custom-control-input" } })
                 <span>Erkek</span>
             </label>
             <label class="label_radio col-lg-6">
                 @Html.RadioButtonFor(model => model.User.Gender, 2, new { htmlAttributes = new { @class = "form-control custom-control-input" } })
                 <span>Kadın</span>
             </label>
         </div>

         <div class="col-lg-12 form-group">
             <label class="sr-only">Username</label>
             @Html.DropDownListFor(model => model.User.CityId, CityDistrictStatics.GetCities(), "Şehir Seçiniz...", htmlAttributes: new { @class = "form-control custom-select", required = "true" })
             <span class="invalid-feedback">
                 @Html.ValidationMessageFor(model => model.User.CityId)
             </span>
         </div>
         <div class="col-lg-12 form-group">
             <label class="sr-only">Password</label>
             @Html.DropDownListFor(model => model.User.DistrictId, new List<SelectListItem>(), "İlçe Seçiniz...", htmlAttributes: new { @class = "form-control custom-select", required = "false" })
             <span class="invalid-feedback">
                 @Html.ValidationMessageFor(model => model.User.DistrictId)
             </span>
         </div>
         <div class="col-lg-12 form-group">
             <p style="text-align:center"> Hesap bilgilerinizi aşağıya giriniz</p>
         </div>
         <div class="col-lg-6 form-group">
             <label class="sr-only">Email</label>
             <input type="text" name="@Html.NameFor(m=>m.User.EmailAdress)" value="" placeholder="Email" class="form-control">
         </div>
         <div class="col-lg-6 form-group">
             <label class="sr-only">Password</label>
             <input type="password" name="@Html.NameFor(m=>m.User.Password)" value="" placeholder="Password" class="form-control">
         </div>
         <div class="col-lg-6 form-group">
             <label class="sr-only">Password</label>
             <input type="password" name="@Html.NameFor(m=>m.ConfirmPassword)" value="" placeholder="Password" class="form-control">
         </div>
         <div class="col-lg-12 form-group">
             <button class="btn" type="button" id="register">Register New Account </button>
             <button type="button" class="btn btn-danger m-l-10 dismiss">Cancel</button>
         </div>
     </div>
</form>
